In [3]:
# 쓰기
f = open('text.txt', 'w')
f.write('abcdefg')
f.close()

In [5]:
# text 추가
f = open('text.txt', 'a')
f.write(',012345')
f.close()

In [7]:
# 읽기
f = open('text.txt', 'r')
data=f.read()
print(data)
list_temp = data.split(',')
print(list_temp)
f.close()

abcdefg012345,012345
['abcdefg012345', '012345']

In [8]:
# csv 파일
f = open('list.csv', 'r')
data = f.read()
f.close()
print(data)
print(type(data))

이름,전화번호,등번호
손흥민,010-1111-2222,7
이강인,010-1111-2223,19
김민재,010-1111-2224,20

<class 'str'>

In [9]:
import csv
# read : 행의 데이터 -> list
f = open('list.csv', 'r')
data = csv.reader(f)
for item in data :
    print(item)

f.close()

['이름', '전화번호', '등번호']
['손흥민', '010-1111-2222', '7']
['이강인', '010-1111-2223', '19']
['김민재', '010-1111-2224', '20']

In [11]:
# pandas csv read
import pandas as pd

data = pd.read_csv('list.csv', encoding='cp949')
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

In [14]:
# xls , xlsx
import openpyxl as xl

data = xl.load_workbook('list.xlsx')
sheet = data['list']
print('>>>>' , sheet)

for cell in sheet :
    #print(cell)
    for i in cell :
        print(i.value)
    print('-------------')

>>>> <Worksheet "list">
(<Cell 'list'.A1>, <Cell 'list'.B1>, <Cell 'list'.C1>)
이름
전화번호
등번호
-------------
(<Cell 'list'.A2>, <Cell 'list'.B2>, <Cell 'list'.C2>)
손흥민
010-1111-2222
7
-------------
(<Cell 'list'.A3>, <Cell 'list'.B3>, <Cell 'list'.C3>)
이강인
010-1111-2223
19
-------------
(<Cell 'list'.A4>, <Cell 'list'.B4>, <Cell 'list'.C4>)
김민재
010-1111-2224
20
-------------

In [17]:
# pandas => xls

data = pd.read_excel('list.xlsx')
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

    이름           전화번호  등번호
0  손흥민  010-1111-2222    7
1  이강인  010-1111-2223   19
2  김민재  010-1111-2224   20

In [18]:
# 파이썬 데이터 형식 그대로 저장 -> 읽기

import pickle

data = ['a', 'b', 'c']
f = open('pickle_data.txt', 'wb')
pickle.dump(data, f)
f.close()

In [20]:
f = open('pickle_data.txt', 'rb')
data = pickle.load(f)
print(data)
print(type(data))

['a', 'b', 'c']
<class 'list'>

In [22]:
# web 경로의 요청 처리시 사용
# 파이썬 내부에서 통신 역할(=비동기통신)
import requests

In [23]:
url = 'https://www.naver.com'
res = requests.get(url)
print(res)

<Response [200]>

In [26]:
#print(res.text) 응답하는 html
print(type(res.text))

<class 'str'>

In [28]:
print(res.text.find('네이버'))
print(res.text.find('로그인'))

365
6072

In [31]:
import bs4

In [33]:
data = "<div>안녕하세요</div>"
soup = bs4.BeautifulSoup(data)
print(soup)

<html><body><div>안녕하세요</div></body></html>

In [35]:
# find : 특정 선택자를 통해서 해당 엘리먼트를 검색 -> 반환
print(soup.find('div'))
print(soup.find('div').text)

<div>안녕하세요</div>
안녕하세요

In [39]:
import requests
import bs4

url = 'https://www.naver.com'
res = requests.get(url)
print(res)

soup = bs4.BeautifulSoup(res.text)
find_data = soup.find('a', attrs={'class':'issue'}) # 속성 찾기
print(find_data.text)

<Response [200]>
[2보] '성남FC 후원금 의혹' 이재명 검찰 출석